.navBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    background: #1A1A1A;
    gap: .5rem;
    padding: .5rem;

    div {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 100%;

        .button {
            align-self: stretch;
        }
    }

    a {
        text-decoration: none;
    }
}

@media only screen and (max-width: 800px) {
    .navBar {
        display: none;
    }
}